@import "common/variable";
@import "themes/theme";
@import "icofont/icofont.min.css";

:root {
  body {
    margin: 0;
    height: 100vh;
    padding-top: 45px;

    a {
      color: inherit;

      &:hover,
      &:hover,
      &:hover [class^="icofont-"],
      &:hover [class*=" icofont-"] {
        text-decoration: none;
        color: $activeColor !important;
      }
    }

    .tag.post-item-tag {
      margin-right: 5px;

      font-weight: bold;
      color: var(--tag-color);
      font-style: normal;

      border-radius: 10px;
      background: transparent;
      border: 1px solid var(--tag-color);
      transition: 0.2s color ease, 0.2s border-color ease;

      &:hover {
        color: var(--tag-color-hover);
        border-color: var(--tag-color-hover);
      }
    }

    .button.is-default {
      height: 40px;

      border: none;
      border-radius: $borderRadius;
      color: var(--second-text-color);
      background: var(--third-bg-color);
    }

    > main {
      flex-grow: 2;
      flex-basis: 0;
    }

    > footer {
      margin: 0 30px;
      padding: 20px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.05);

      .sns-container [class^="icofont-"],
      .sns-container [class*=" icofont-"] {
        margin: 0 5px;
        font-size: 30px;
      }
    }
  }
}

@import "widget-header";
